In [1]:
import glob

In [5]:
addrs_labels = []
for i in range(1, 3):
    addrs_labels.extend(glob.glob('data/dataset_1/labels/*.txt'))
    addrs_labels.extend(glob.glob('data/dataset_2/labels/*.txt'))
    addrs_labels.extend(glob.glob('data/dataset_3/labels/*.txt'))

In [6]:
word_bag = set()
for addrs_label in addrs_labels:
    text = open(addrs_label, encoding="utf-8-sig").read()
    for t in text:
        word_bag.add(t)

In [7]:
word_bag

{'\n',
 ' ',
 '%',
 '(',
 ')',
 '+',
 '-',
 '0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 ':',
 'D',
 'E',
 'H',
 'I',
 'K',
 'L',
 'M',
 'N',
 'P',
 'R',
 'S',
 'T',
 'U',
 'X',
 '가',
 '감',
 '검',
 '격',
 '공',
 '구',
 '그',
 '금',
 '기',
 '눈',
 '능',
 '대',
 '도',
 '동',
 '두',
 '드',
 '레',
 '력',
 '련',
 '류',
 '름',
 '마',
 '망',
 '매',
 '몬',
 '무',
 '미',
 '방',
 '벨',
 '보',
 '복',
 '분',
 '블',
 '비',
 '빠',
 '사',
 '소',
 '속',
 '손',
 '수',
 '스',
 '시',
 '식',
 '어',
 '업',
 '올',
 '용',
 '우',
 '위',
 '이',
 '장',
 '적',
 '점',
 '제',
 '지',
 '착',
 '최',
 '치',
 '터',
 '텟',
 '통',
 '프',
 '한',
 '황',
 '횟'}

In [8]:
len(word_bag)

97

In [10]:
with open("word_bag_3.txt", "w", encoding="utf-8") as d:
    for i, data in enumerate(sorted(list(word_bag))[2:]):   # Skip oob> / newline / whitespace and add later
        d.write(str(i+3))
        d.write("\t")
        d.write(data)
        d.write("\n")