In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import os
import shutil
import json

In [2]:
dataset_name = "dataset_3"

In [3]:
dataset = pd.read_csv("../model/data/{}/{}_current.csv".format(dataset_name, dataset_name))
dataset

           price option additional  star_force  upgrade time_remained
0       99999999      -          -           0        0      22시간 30분
1       99999999      -          -           0        0      22시간 57분
2      109999998      -          -           0        0      20시간 50분
3      109999999      -          -           0        0      13시간 52분
4      110000000      -          -           0        0      05시간 29분
..           ...    ...        ...         ...      ...           ...
179  13999999999     레전         레전           2        9      23시간 28분
180  14999999999     레전         유닉           2        9      14시간 50분
181  19999999999     레전         레전           2        9      04시간 51분
182  20299999999     레전         유닉           2        9      05시간 40분
183  22222222222     레전         레전           2        9      12시간 14분

[184 rows x 6 columns]

In [4]:
index_0 = dataset[(dataset["option"] == "-") & (dataset["additional"] == "-")].index[-25:]
index_0

Int64Index([ 18,  19,  20,  21,  22,  23,  24,  25,  26,  27,  28,  33,  35,
             36,  40,  41,  42,  43,  50,  51,  56,  65,  88,  98, 101],
           dtype=&#39;int64&#39;)

In [5]:
index_1 = dataset[(dataset["option"] != "-") & (dataset["additional"] != "-")].index[-25:]
index_1

Int64Index([159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171,
            172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183],
           dtype=&#39;int64&#39;)

In [6]:
index_2 = dataset[(dataset["additional"] != "-")].index[-25:]
index_2

Int64Index([159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171,
            172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183],
           dtype=&#39;int64&#39;)

In [7]:
index = np.r_[index_0, index_1, index_2]
index

array([ 18,  19,  20,  21,  22,  23,  24,  25,  26,  27,  28,  33,  35,
        36,  40,  41,  42,  43,  50,  51,  56,  65,  88,  98, 101, 159,
       160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172,
       173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 159, 160,
       161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173,
       174, 175, 176, 177, 178, 179, 180, 181, 182, 183], dtype=int64)

In [159]:
os.mkdir("../model/data/{}/labeled_images".format(dataset_name))

In [160]:
for i in index:
    shutil.copyfile("../model/data/{}/images/{}.png".format(dataset_name, i), "../model/data/{}/labeled_images/{}.png".format(dataset_name, i))